{% load static %}

<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="{% static '/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static '/css/style.css' %}" rel="stylesheet">
    <title>Title</title>
</head>
<body class="d-flex flex-column min-vh-100">
<header class="p-2 bg-success d-flex justify-content-between align-items-center mb-lg-4">
    <a href="{% url 'home' %}">
        Code Reviewer
    </a>
    {% if user.is_authenticated %}
        <div class="profile">
            <span>{{ user.email }}</span>
            |
            <a href="{% url 'users:logout' %}">Выйти</a>
        </div>
    {% else %}
        <div class="auth">
            <a href="{% url 'users:sign_up' %}">Регистрация</a> |
            <a href="{% url 'users:login' %}">Вход</a>
        </div>
    {% endif %}
</header>
<div class="container text-center">
    <div class="row justify-content-center">
        {% if user.is_authenticated %}
            <aside class="col-2 list-group p-0">
                {% if page == 'home' %}
                    <a href="{% url 'home' %}" class="bg-success list-group-item list-group-item-action">Главная</a>
                {% else %}
                    <a href="{% url 'home' %}" class="my-border list-group-item text-bg-dark list-group-item-action">Главная</a>
                {% endif %}

                {% if page == 'files' %}
                    <a href="{% url 'code_review:get_files' %}"
                       class="bg-success list-group-item list-group-item-action">Файлы</a>
                {% else %}
                    <a href="{% url 'code_review:get_files' %}"
                       class="my-border list-group-item text-bg-dark list-group-item-action">Файлы</a>
                {% endif %}

            </aside>
        {% endif %}
        <main class="col-7">
            {% block content %}
                <div class="row justify-content-center">
                    <div class="col-9">
                        <div class="card text-center">
                            <div class="card-header">
                                О проекте
                            </div>
                            <div class="card-body p-0 mb-2">
                                <h2>Code Reviewer</h2>
                                <p style="text-align: justify" class="card-text my-border-top p-1 ps-3 pe-3">
                                    &emsp;Это сервис проверки python кода на соответствия общепринятым правилам.
                                    Сервис имеет пользовательский интерфейс в виде сайта.
                                    Сервис написан на языке программирования python с использованием
                                    его фреймворков Django.<br>
                                    &emsp;Для использования сервиса нужно пройти регистрацию и загрузить файлы с
                                     расширением .ру. Проверка выполняется автоматически раз одну минуту. <br>
                                    &emsp;Результаты проверки файлов отправляются на указанный почтовый адрес
                                    при регистрации пользователя. А так же их можно смотреть в разделе файлов сайта
                                    нажав на конкретный файл в списке.
                                </p>
                            </div>
                            <div class="card-footer text-body-secondary">
                                <a href="{% url 'code_review:get_files' %}" class="btn btn-primary">
                                    Проверить файлы
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            {% endblock %}
        </main>
    </div>
</div>

<script src="{% static 'bootstrap/js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'js/main.js' %}"></script>
</body>
</html>
